<% include ./partials/header %>
<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
<!-- Header -->
								<header id="header">
									<h1><strong>Texas Living...</strong> Ericas' Way!</h1>
								</header>
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<p>
												A woman inpsired by fashion and design culture of Texas. Author. Editor. Fashionista. Single Mom. Blogger.
											</p>
										</header>
										<p>...</p>
										<p> I was born and raised in Fort Worth, TX. I've always loved Fashion!!! </p>
										<ul class="actions">
												<li><a href="/" class="button primary">Go Back</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="https://res.cloudinary.com/danieltisue/image/upload/bo_5px_solid_rgb:f56a6a,c_crop/a_0/v1548430789/Ericas%20Blog/Landing/IMG_1286.jpg" alt="landing image" />
									</span>
								</section>
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<h3><p>Please contact me by any of the following ways listed below for future posts you would like to see, or if you'd like to know more about some of my fashion pieces, or if you just want to say 'Hey!".</p></h3>
									<ul class="contact">
										<li><a href="mailto:ericamauriciotexasliving@gmail.com" class="far fa-envelope fa-2x"></a><p style="display: inline; padding-left: 2px"> ericamauriciotexasliving@gmail.com</p></li>
										<li><a href="https://www.facebook.com/erica.mauricio.108" class="fab fa-facebook-square fa-2x"></a></li>
										<li><a href="https://www.instagram.com/erica_mauricio_/" class="fab fa-instagram fa-2x"></a></li>
									</ul>
								</section>

						
<% include ./partials/footer %>		