<% include ./partials/header %>



	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
<!-- Header -->
								<header id="header">
									<h1><strong>Texas Living...</strong> Ericas' Way!</h1>
								</header>
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, I’m Erica<br /></h1>
											<p>
												A woman inpsired by fashion and design culture of Texas. Author. Editor. Fashionista. Single Mom. Blogger.
											</p>
										</header>
										<p>This blog is dedicated to women all over the world with like inspirations, interest and maybe even circumstances with a bit of a Texas Twang. All my blog posts either pose a window into personal and/or relatable experiences in my life as well as other interests. My hope is that women all over the world can draw inspiration, motivation, and experience from my articles. They are for you! Enjoy!...</p>
										<ul class="actions">
												<li><a href="/about" class="button primary">More...</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="https://res.cloudinary.com/danieltisue/image/upload/bo_5px_solid_rgb:f56a6a,c_crop/a_0/v1548430789/Ericas%20Blog/Landing/IMG_1286.jpg" alt="landing image" />
									</span>
								</section>

						
<% include ./partials/footer %>						